name: Build Custom Image

on:
  push:
    branches:
      - main
    paths:
      - 'apps.json'
      - '.github/workflows/build_custom.yml'
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}/custom
  ERP_VERSION: v15.93.2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Apps JSON Base64
        id: apps_json
        run: |
          echo "APPS_JSON_BASE64=$(base64 -w 0 apps.json)" >> $GITHUB_ENV

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: images/custom/Containerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
          build-args: |
            FRAPPE_PATH=https://github.com/frappe/frappe
            FRAPPE_BRANCH=version-15
            PYTHON_VERSION=3.11.6
            NODE_VERSION=20.19.2
            APPS_JSON_BASE64=${{ env.APPS_JSON_BASE64 }}
